
@{
    ViewData["Title"] = "EditUser";
    Layout = "~/Views/Shared/_CoOrdLayout.cshtml";
}

@model Insert_User
<div class="main-content" style="margin-left:5%;width:112%;">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0">Update User Details</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form asp-controller="Uploadcsv" asp-action="UpdateUser" method="post">
                                <div class="row">
                                    <input type="hidden" asp-for="id" />
                                    <div class="col-md-6 col-md-2">
                                        <label for="example-number-input" class=" col-form-label">Batch</label>
                                        <select class="form-select" asp-for="session_id" id="session_id">
                                            <option value="">Select Batch</option>
                                            @foreach (var session in Model.Sessions)
                                            {
                                                if (session.id == Model.session_id)
                                                {
                                                    <option value="@session.id" selected>@session.label</option>
                                                }
                                                else
                                                {
                                                    <option value="@session.id">@session.label</option>
                                                }
                                                
                                            }
                                        </select>
                                        <span asp-validation-for="session_id" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 col-md-2">
                                        <label for="example-number-input" class=" col-form-label">Department</label>
                                        <select class="form-select" asp-for="department_id" id="department_id">
                                            <option value="">Select Department</option>
                                            @foreach (var department in Model.Departments)
                                            {
                                                if (department.id == Model.department_id)
                                                {
                                                    <option value="@department.id" selected>@department.department</option>
                                                }
                                                else
                                                {
                                                    <option value="@department.id">@department.department</option>
                                                }
                                                
                                            }
                                        </select>
                                        <span asp-validation-for="department_id" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 col-md-2">
                                        <label for="example-number-input" class=" col-form-label">User Name</label>
                                        <input asp-for="name" class="form-control" type="text" name="name" id="name">
                                        <span asp-validation-for="name" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 col-md-2">
                                        <label for="example-number-input" class=" col-form-label">User Email</label>
                                        <input asp-for="email" class="form-control" type="text" name="email" id="email" readonly>
                                        <span asp-validation-for="email" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 col-md-2">
                                        <label for="example-number-input" class="col col-form-label">User Password</label>
                                        <input asp-for="password" class="form-control" type="text" name="password" id="password">
                                        <span asp-validation-for="password" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="form-group mt-3">
                                    <input type="submit" value="Save" class="btn btn-primary" id="btnSubmit" />
                                    <a asp-action="Index" asp-controller="Uploadcsv" class="btn btn-outline-primary">Back</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

