@model List<StudentReport>

<table id="sreport" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <thead>
            <tr class="table-primary">
                <th>Batch</th>
                <th>Department</th>
                <th>Enrollment</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Company</th>
                <th>MaxStipend</th>
                <th>MinStipend</th>
                <th>MaxSalary</th>
                <th>MinSalary</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>

        @if (Model == null)
        {
            <p>There is no data to be displayed</p>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.label</td>
                    <td>@item.department_name</td>
                    <td>@item.enrollment</td>
                    <td>@item.student_surname @item.student_firstname @item.student_lastname</td>
                    <td>@item.student_email</td>
                    <td>@item.student_contact</td>
                    <td>@item.company_name</td>
                    <td>@item.max_stipend</td>
                    <td>@item.min_stipend</td>
                    <td>@item.max_salary</td>
                    <td>@item.min_salary</td>
                    @if(item.status == 0)
                    {
                        <td>Pending</td>
                    }
                    else if (item.status == 1)
                    {
                        <td>Selected</td>
                    }
                    else if (item.status == 2)
                    {
                        <td>Rejected</td>
                    }
                </tr>
            }
        }
        </tbody>
</table>


