@model ViewCompanySession
@using Microsoft.AspNetCore.Mvc;
@inject IHttpContextAccessor context;
@{
    ViewData["Title"] = "Create Hiring";
}
@{
    Layout = "_CoOrdLayout";
}
<div class="main-content" style="margin-left:5%;width:112%;">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0">Add Hiring Details</h4>
                        <a asp-action="CordHiringCompanies" asp-controller="Hiring" class="btn btn-outline-primary">Back</a>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form asp-controller="Hiring" asp-action="CreateHiring" method="post">
                                <div class="row">
                                    <div class="col-md-6 col-md-2">
                                        <label for="example-number-input" class="col col-form-label" col-form-label">Session</label>
                                        <select asp-for="@Model.multisession" class="form-select js-example-basic-multiple" multiple="multiple">
                                            @foreach (var session in Model.Sessions)
                                            {
                                                <option value="@session.id">@session.label</option>
                                            }
                                        </select>
                                        <span asp-validation-for="@Model.multisession" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 col-md-2">
                                        <label for="example-number-input" class=" col-form-label">Company Name</label>
                                        <select class="form-select" asp-for="@Model.Hiring.company_id">
                                            <option value="" >Select Company</option>
                                            @foreach (var company in Model.Companies)
                                            {
                                                <option value="@company.id">@company.name</option>
                                            }
                                        </select>
                                        <span asp-validation-for="@Model.Hiring.company_id" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 col-md-2">
                                        <label for="example-number-input" class=" col-form-label">Designation</label>
                                        <input asp-for="@Model.Hiring.designation" class="form-control" type="text" id="designation">
                                        <span asp-validation-for="@Model.Hiring.designation" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 col-md-2">
                                        <label for="example-number-input" class="col col-form-label" col-form-label">Department</label>
                                        <select asp-for="@Model.Hiring.department_id" class="form-select js-example-basic-multiple"  multiple="multiple">
                                            @foreach (var department in Model.Departments)
                                            {
                                                <option value="@department.id">@department.department</option>
                                            }
                                        </select>
                                        <span asp-validation-for="@Model.Hiring.department_id" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 col-md-2">
                                        <label for="example-number-input" class="col col-form-label" col-form-label">Sector</label>
                                        <select asp-for="@Model.Hiring.sector_id" class="form-select js-example-basic-multiple"  multiple="multiple">
                                            @foreach (var sector in Model.Sectors)
                                            {
                                                <option value="@sector.id">@sector.sector</option>
                                            }
                                        </select>
                                        <span asp-validation-for="@Model.Hiring.sector_id" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-6 col-md-2">
                                        <label for="example-number-input" class="col col-form-label">Stipend</label>
                                        <input asp-for="@Model.Hiring.stipend" class="form-control" type="text" id="stipend">
                                        <span asp-validation-for="@Model.Hiring.stipend" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-6 col-md-2">
                                        <label for="example-number-input" class="col col-form-label">Performance Incentives</label>
                                        <input asp-for="@Model.Hiring.performance_inc" class="form-control" type="text" id="performance_inc">
                                        <span asp-validation-for="@Model.Hiring.performance_inc" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 col-md-2">
                                        <label for="example-number-input" class="col col-form-label">Minimum Package</label>
                                        <input asp-for="@Model.Hiring.minimum_package" class="form-control" type="text" id="total_salary">
                                        <span asp-validation-for="@Model.Hiring.minimum_package" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 col-md-2">
                                        <label for="example-number-input" class="col col-form-label">Maximum Package</label>
                                        <input asp-for="@Model.Hiring.maximum_package" class="form-control" type="text" id="total_salary">
                                        <span asp-validation-for="@Model.Hiring.maximum_package" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 col-md-2">
                                        <label for="example-number-input" class="col col-form-label">Bonus</label>
                                        <input asp-for="@Model.Hiring.bonus" class="form-control" type="text" id="bonus">
                                        <span asp-validation-for="@Model.Hiring.bonus" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 col-md-2 ">
                                        <label for="example-number-input" class="col col-form-label">Joining Date</label>
                                        <input asp-for="@Model.Hiring.joindate" class="form-control" type="date" id="joindate">
                                        <span asp-validation-for="@Model.Hiring.joindate" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 col-md-2 ">
                                        <label for="example-number-input" class="col col-form-label">Start Date</label>
                                        <input asp-for="@Model.Hiring.startdate" class="form-control" type="date" id="startdate">
                                        <span asp-validation-for="@Model.Hiring.startdate" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 col-md-2">
                                        <label for="example-number-input" class="col col-form-label">End Date</label>
                                        <input asp-for="@Model.Hiring.enddate" class="form-control" type="date" id="enddate">
                                        <span asp-validation-for="@Model.Hiring.enddate" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 col-md-2">
                                        <label for="example-number-input" class="col col-form-label">Interview Mode</label>
                                        <input asp-for="@Model.Hiring.interview_mode" class="form-control" type="text" id="interview_mode">
                                        <span asp-validation-for="@Model.Hiring.interview_mode" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 col-md-2">
                                        <label for="example-number-input" class="col col-form-label">Interview location</label>
                                        <input asp-for="@Model.Hiring.interview_location" class="form-control" type="text" id="interview_location">
                                        <span asp-validation-for="@Model.Hiring.interview_location" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 col-md-2">
                                        <label for="example-number-input" class="col col-form-label">Job Location</label>
                                        <input asp-for="@Model.Hiring.joblocation" class="form-control" type="text" id="joblocation">
                                        <span asp-validation-for="@Model.Hiring.joblocation" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="example-number-input" class="col col-form-label">Other Requirement</label>
                                        <textarea asp-for="@Model.Hiring.other_requirement" class="form-control" type="text" id="other_requirement" rows="7" cols="40"></textarea>
                                        <span asp-validation-for="@Model.Hiring.other_requirement" class="text-danger"></span>
                                    </div>
                                    
                                    <div class="mt-2">
                                        <label class="form-label d-block mb-3">Bond</label>
                                        <div class="custom-radio form-check form-check-inline">
                                            <input type="radio" asp-for="@Model.Hiring.bond" id="bond" class="form-check-input bond" value="Yes">
                                            <label class="form-check-label" for="bond">Yes</label>
                                        </div>
                                        <div class="custom-radio form-check form-check-inline">
                                            <input type="radio" asp-for="@Model.Hiring.bond" id="bond" class="form-check-input bond" value="No">
                                            <label class="form-check-label" for="bond">No</label>
                                        </div>
                                        <br>
                                        <span asp-validation-for="@Model.Hiring.bond" class="text-danger"></span>
                                    </div>
                                    
                                    <div class="col-md-12" id="bond_condition_div">
                                        <label for="example-number-input" class="col col-form-label">Bond Condition</label>
                                        <textarea asp-for="@Model.Hiring.bond_condition" class="form-control" id="bondcondition" value="null" rows="7" cols="40"></textarea>
                                        <span asp-validation-for="@Model.Hiring.bond_condition" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="submit" id="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            // alert('ready');
            // var rVal = $("#bond:checked").val();
            //alert(rVal);
            $('#bond_condition_div').hide();
            $('#job_location_div').hide();

            $('.bond').change(function () {
                if ($(this).val() === "Yes") {
                    $('#bond_condition_div').show();
                    $('#job_location_div').show();

                    $('#bondcondition').val("");
                   
                } else if ($(this).val() === "No") {
                    $('#bond_condition_div').hide();
                    $('#job_location_div').hide();
                }
            });

            //$('#department_list').multiselect({
            //    includeSelectAllOption : true
            //});
            $('.js-example-basic-multiple').select2();

           
        });

    </script>
}