@model ViewHiring
@inject IHttpContextAccessor context;
<!--Total Companies page-->
<style>
    .modal-content {
        background: linear-gradient(to bottom right, rgb(91, 115, 232), #ffffff);
    }
    #dispText{
        color: #333333;
        font-size:20px;
        margin-bottom:5px;
        font-weight:400;
    }

    .modal-title {
        font-size: 25px;
        color: #ffffff;
        text-shadow: 2px 2px 2px #333333;
        text-shadow: 2px 2px 2px rgb(91, 115, 232);
    }
</style>
<div class="main-content" style="margin-left:4%;width:115%;">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                           
                            <h4 class="card-title">Hirings List</h4>
                            <p class="card-title-desc">

                            </p>
                            <table class="table table-striped table-bordered dt-responsive" id="company-table" style="width:100%;">
                                @if (Model == null)
                                {
                                    <p>Apply in a company to see your data</p>
                                }
                                else
                                {
                                    <thead>
                                        <tr class="table-primary">
                                            <th>Company</th>
                                            <th>Batch</th>
                                            <th>Designation</th>
                                            <th>Job Location</th>
                                            <th>Interview Mode</th>
                                            <th>Interview Location</th>
                                            <th>Hiring Details</th>
                                            @if(@context.HttpContext.Session.GetInt32("role") == 1){
                                                <th>Status</th>
                                                <th> Application Date</th>
                                                <th>Employment Details</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                        @foreach (var stud in Model.students)
                                            {
                                                @foreach (var hd in Model.hiring_Departments)
                                                {
                                                    @foreach (var item in Model.Hirings)
                                                    {
                                                        if (stud.department_id == hd.department_id && hd.hiring_id == item.id)
                                                        {
                                                            <tr>
                                                                @foreach (var company in Model.Companies)
                                                                {
                                                                    if (item.company_id == company.id)
                                                                    {
                                                                        <td>@company.name</td>
                                                                    }
                                                                }
                                                                @foreach (var session in Model.Session)
                                                                {
                                                                    if (item.session_id == session.id)
                                                                    {
                                                                        <td>@session.label</td>
                                                                    }
                                                                }

                                                                <td>@item.designation</td>
                                                                <td>@item.joblocation</td>
                                                                <td>@item.interview_mode</td>
                                                                <td>@item.interview_location</td>
                                                                @if (@context.HttpContext.Session.GetInt32("role") == 1)
                                                                {
                                                                    <td>
                                                                        <a asp-controller="Company" asp-action="CompanyDetails" class="btn btn-outline-info" asp-route-cid="@item.company_id" asp-route-hid="@item.id">
                                                                            Info
                                                                        </a>
                                                                    </td>

                                                                    <td>
                                                                        @foreach (var student in Model.applications)
                                                                        {
                                                                            if (@context.HttpContext.Session.GetInt32("studentid") == student.student_id)
                                                                            {
                                                                                if (item.id == student.hiring_id)
                                                                                {
                                                                                    if (student.status == 0)
                                                                                    {
                                                                                        <p type="button" class="btn btn-primary btn-sm waves-effect waves-light">Applied</p>
                                                                                    }
                                                                                    else if (student.status == 1)
                                                                                    {
                                                                                        <p type="button" class="btn btn-success btn-sm waves-effect waves-light">Selected</p>
                                                                                    }
                                                                                    else if (student.status == 2)
                                                                                    {
                                                                                        <p type="button" class="btn btn-danger btn-sm waves-effect waves-light">Rejected</p>

                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    </td>
                                                                    <td>
                                                                        @foreach (var student in Model.applications)
                                                                        {
                                                                            if (@context.HttpContext.Session.GetInt32("studentid") == student.student_id)
                                                                            {
                                                                                if (item.id == student.hiring_id)
                                                                                {
                                                                                    if (student.status == 0 || student.status == 1 || student.status == 2)
                                                                                    {
                                                                                        string dateString = @student.created_at;
                                                                                        DateTime date = DateTime.Parse(dateString);

                                                                                        string convertedDate = date.ToString("dd MMMM, yyyy");
                                                                                        Console.WriteLine(convertedDate);
                                                                                        <p>@convertedDate</p>
                                                                                    }

                                                                                }
                                                                            }
                                                                        }
                                                                    </td>

                                                                <td>
                                                                    @foreach (var student in Model.applications)
                                                                    {
                                                                        if (@context.HttpContext.Session.GetInt32("studentid") == student.student_id)
                                                                        {
                                                                            if (item.id == student.hiring_id)
                                                                            {
                                                                                if (student.status == 0)
                                                                                {
                                                                                    <div class="d-flex flex-wrap gap-3 justify-content-center">
                                                                                        <i style=" color:rgb(91, 115, 232)" class="fas fa-stopwatch fa-lg" data-bs-container="#tooltip-container" data-bs-toggle="tooltip" data-bs-placement="top" title="Response Pending! Please wait a bit further."></i>
                                                                                    </div>
                                                                                }
                                                                                if (student.status == 1)
                                                                                {
                                                                                    <div class="d-flex flex-wrap gap-3 justify-content-center info">
                                                                                        <input type="text" class="sid" value="@context.HttpContext.Session.GetInt32("studentid")" hidden>
                                                                                        <input type="text" class="hid" value="@student.hiring_id" hidden>
                                                                                        <!-- Center Modal -->
                                                                                        <button type="button" class="btn btn-outline-primary moreinfo" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                                                            More Info
                                                                                        </button>
                                                                                    </div>
                                                                                }

                                                                                if (student.status == 2)
                                                                                {
                                                                                    <div class="d-flex flex-wrap gap-3 justify-content-center">
                                                                                        <i style="color:red;" class="far fa-window-close fa-lg" data-bs-container="#tooltip-container" data-bs-toggle="tooltip" data-bs-placement="top" title="Application Rejected"></i>
                                                                                    </div>
                                                                                }

                                                                            }

                                                                        }
                                                                    }
                                                                </td>
                                                                }
                                                                else if (@context.HttpContext.Session.GetInt32("role") == 2)
                                                                {
                                                                    <td>
                                                                        <a asp-controller="Hiring" asp-action="EditHiring" class="btn btn-outline-primary" asp-route-id="@item.id">
                                                                            Edit
                                                                        </a>
                                                                        <a asp-controller="Hiring" asp-action="DeleteHiring" class="btn btn-outline-danger" onclick="if(!confirm('Are you sure that you want to permanently delete the selected element?'))return false" asp-route-id="@item.id">
                                                                            Delete
                                                                        </a>
                                                                    </td>
                                                                }
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            }
                                    </tbody>
                                }
                            </table>
                           
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Employment Details</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" id="modalbody">
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->

        </div>
    </div>
</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            var table = $("#company-table").DataTable({
                "scrollX": true,
                pageLength: 10,
                lengthMenu: [10, 15, 25],
                order: []
            })
            $('.moreinfo').on('click',function () {
                var sid = $(this).closest("div.info").find(".sid").val();
                var hid = $(this).closest("div.info").find(".hid").val();

                $.ajax({
                    url: '@Url.Action("StudentJoiningData", "Hiring")',
                    type: 'GET',
                    data: { sid: sid, hid: hid },
                    success: function (response) {
                        $('#modalbody').html(response);
                    }
                });
            });
        });
    </script>
}


