@model List<pendingshortlist>
@inject IHttpContextAccessor context;
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
<style>
    .modal-content {
        background: linear-gradient(to bottom right, rgb(91, 115, 232), #ffffff);
    }

    #dispText {
        color: #333333;
        font-size: 16px;
        margin-bottom: 5px;
        font-weight: 200;
    }

    .modal-title {
        font-size: 20px;
        color: #ffffff;
        text-shadow: 2px 2px 2px #333333;
        text-shadow: 2px 2px 2px rgb(91, 115, 232);
    }
</style>
<!--Total Companies page-->
<div class="main-content" style="margin-left:4%;width:115%;">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <a asp-controller="Hiring" asp-action="StudentApplications" style="float:right" class="btn btn-outline-primary  mb-2">Back</a>
                            
                            <h4 class="card-title">Students List</h4>
                            <p class="card-title-desc">

                            </p>
                            <table class="table table-striped table-bordered dt-responsive" id="company-table" style="width:100%;">
                                @if (Model == null)
                                {
                                    <p>There is no data to be displayed</p>
                                }
                                else
                                {
                                    <thead>
                                        <tr class="table-primary">
                                            <th>Student Name</th>
                                            <th>Enrollment</th>
                                            <th>Gender</th>
                                            <th>Contact</th>
                                            <th>DOB</th>
                                            <th>Adhaar</th>
                                            <th>Pan</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.surname @item.first_name @item.last_name</td>
                                                <td>@item.enrollment</td>
                                                <td>@item.gender</td>
                                                <td>@item.contact</td>
                                                <td>
                                                    @{
                                                    string dateString = item.dob;
                                                    DateTime date = DateTime.Parse(dateString);

                                                    string convertedDate = date.ToString("dd MMMM, yyyy");
                                                    Console.WriteLine(convertedDate);
                                                    }
                                                    <p>@convertedDate</p>
                                                </td>
                                                <td>@item.adhaar</td>
                                                <td>@item.pan</td>
                                                @if (@context.HttpContext.Session.GetInt32("role") == 2)
                                                {
                                                    <td>
                                                        <!-- Button trigger modal -->
                                                        <button type="button" class="btn btn-outline-info " data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                            Select
                                                        </button>

                                                        <!-- Modal -->
                                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">Student Remuneration  Details</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <form id="selectform" method="post" asp-controller="Hiring" asp-action="pendingshortlisted" asp-route-id=101 asp-route-sid=@item.id asp-route-hid=@item.hiring_id>
                                                                        <div class="modal-body">
                                                                            <div class="mb-3">
                                                                                <label for="exampleInputEmail1" class="form-label" id="dispText">Minimum Stipend</label>
                                                                                <input type="text" name="minsti" class="form-control">
                                                                                <p id="error-message1"></p>
                                                                            </div>
                                                                            <div class="mb-3">
                                                                                <label for="exampleInputEmail1" class="form-label" id="dispText">Maximum Stipend</label>
                                                                                <input type="text" name="maxsti" class="form-control">
                                                                            </div>
                                                                            <div class="mb-3">
                                                                                <label for="exampleInputPassword1" class="form-label" id="dispText">Minimum Salary</label>
                                                                                <input type="text" name="minsal" class="form-control">
                                                                                <p id="error-message2"></p>
                                                                            </div>
                                                                            <div class="mb-3">
                                                                                <label for="exampleInputPassword1" class="form-label" id="dispText">Maximum Salary</label>
                                                                                <input type="text" name="maxsal" class="form-control">
                                                                            </div>
                                                                            <div class="mb-3">
                                                                                <label for="exampleInputPassword1" class="form-label" id="dispText">Joining Date<p style="color:red;display:inline-block">&#42;</p></label>
                                                                                <input type="date" name="joining" class="form-control" required>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                                                                            <button type="submit" id="submit" class="btn btn-outline-primary" onclick="check()">Submit</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a asp-controller="Hiring" asp-action="pendingshortlisted" class="btn btn-outline-danger " asp-route-id=201 asp-route-sid=@item.id asp-route-hid=@item.hiring_id>
                                                            Reject
                                                        </a>
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                }
                            </table>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->

        </div>
    </div>
</div>

@section Scripts{
    
    <script>
        $(document).ready(function () {
            var table = $("#company-table").DataTable({
                "scrollX": true,
                pageLength: 10,
                lengthMenu: [5, 10, 20]
            });
            $('#exampleModal').on('shown.bs.modal', function () {
                $('#myInput').trigger('focus')
            });
            $("#selectform").validate({
                rules: {
                    sti: "required",
                    sal: "required"
                },
                messages: {
                    sti: "Please enter stipend!",
                    sal: "Please enter Salary!"
                },
                submitHandler: function (form) {
                    console.log("Submitted!");
                    form.submit();
                }
            })
        });
        var check = function () {
                var minStipend = parseInt(document.querySelector('input[name="minsti"]').value);
                var maxStipend = parseInt(document.querySelector('input[name="maxsti"]').value);
                var minSalary = parseInt(document.querySelector('input[name="minsal"]').value);
                var maxSalary = parseInt(document.querySelector('input[name="maxsal"]').value);

                var errorMessage1 = document.getElementById('error-message1');
                var errorMessage2 = document.getElementById('error-message2');
                errorMessage1.innerHTML = '';
                errorMessage2.innerHTML = '';

                if (minStipend >= maxStipend) {
                    errorMessage1.innerHTML = 'Minimum stipend cannot be greater than maximum stipend.<br>';
                    errorMessage1.style.color ="red"
                    event.preventDefault();
                }

                if (minSalary >= maxSalary) {
                    errorMessage2.innerHTML = 'Minimum salary cannot be greater than maximum salary.<br>';
                    errorMessage2.style.color = "red"
                    event.preventDefault();
                }
           
            }
   

    </script>
}

