@model List<StudentReport>

@{
    ViewData["Title"] = "report";
}
<div class="main-content" style="width:130%;margin:auto">

    <div class="page-content" >
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title">Student Application Report</h4>
                            <p class="card-title-desc">
                                Select the value from below to view dynamically generated reports
                            </p>
                            <!--dropdown start-->
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="sessionDropdown">session</label>
                                </div>
                                <select class="custom-select" id="sessionDropdown">
                                    <option value="">Choose</option>
                                    @foreach (var dd in ViewBag.sessiondd)
                                    {
                                        <option value="@dd.id">@dd.label</option>
                                    }
                                </select>
                                &nbsp;&nbsp;
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="deptDropdown">department</label>
                                </div>
                                <select class="custom-select" id="deptDropdown">
                                    <option value="">Choose</option>
                                    @foreach (var dd in ViewBag.deptdd)
                                    {
                                        <option value="@dd.id">@dd.department</option>
                                    }
                                </select>
                                &nbsp;&nbsp;
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="compDropdown">company</label>
                                </div>
                                <select class="custom-select" id="compDropdown">
                                    <option value="">Choose</option>
                                    @foreach (var dd in ViewBag.compdd)
                                    {
                                        <option value="@dd.id">@dd.name</option>
                                    }
                                </select>
                                &nbsp;&nbsp;
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="statusDropdown">Status</label>
                                </div>
                                <select class="custom-select" id="statusDropdown">
                                    <option value="3">Choose</option>
                                    <option value="0">Pending</option>
                                    <option value="1">Selected</option>
                                    <option value="2">Rejected</option>
                                </select>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" id="reportExport" class="read_more_btn">
                                    Export
                                </button>
                                <div id="fexport"></div>
                            </div>
                            <div id="studentTableContainer">
                                <partial name="_StudentReport" for="@Model" />
                            </div>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->
        </div>
    </div>
</div>
@section Scripts{
    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@
    <script>
        $(document).ready(function () {
            var table = $("#sreport").DataTable({
                    "scrollX": true,
                    responsive: true,
                    pageLength: 10,
                    lengthMenu: [5, 10, 20],
                    language: {
                        emptyTable: "Requested data not found!"
                    }
                });
            $('#reportExport').hide();
            var selectedSessionId = $("#sessionDropdown").val();
            var selectedDeptId = $("#deptDropdown").val();
            var selectedCompId = $("#compDropdown").val();
            var selectedStatusId = $("#statusDropdown").val();
            $('#sessionDropdown').change(function () {
                var selectedSessionId = $(this).val();
                var selectedDeptId = $("#deptDropdown").val();
                var selectedCompId = $("#compDropdown").val();
                var selectedStatusId = $("#statusDropdown").val();
                if(selectedSessionId == 0 && selectedDeptId == 0 && selectedCompId == 0 && selectedStatusId == 3){
                    $('#reportExport').hide();
                }else{
                    $('#reportExport').show();
                }
                filterStduent(selectedSessionId, selectedDeptId, selectedCompId, selectedStatusId);
            });
            $('#deptDropdown').change(function () {
                var selectedSessionId = $("#sessionDropdown").val();
                var selectedDeptId = $(this).val();
                var selectedCompId = $("#compDropdown").val();
                var selectedStatusId = $("#statusDropdown").val();
                if (selectedSessionId == 0 && selectedDeptId == 0 && selectedCompId == 0 && selectedStatusId == 3) {
                    $('#reportExport').hide();
                } else {
                    $('#reportExport').show();
                }
                filterStduent(selectedSessionId, selectedDeptId, selectedCompId, selectedStatusId);
            });
            $('#compDropdown').change(function () {
                var selectedSessionId = $("#sessionDropdown").val();
                var selectedDeptId = $("#deptDropdown").val();
                var selectedCompId = $(this).val();
                var selectedStatusId = $("#statusDropdown").val();
                if (selectedSessionId == 0 && selectedDeptId == 0 && selectedCompId == 0 && selectedStatusId == 3) {
                    $('#reportExport').hide();
                } else {
                    $('#reportExport').show();
                }
                filterStduent(selectedSessionId, selectedDeptId, selectedCompId, selectedStatusId);
            });
            $('#statusDropdown').change(function () {
                var selectedSessionId = $("#sessionDropdown").val();
                var selectedDeptId = $("#deptDropdown").val();
                var selectedCompId = $("#compDropdown").val();
                var selectedStatusId = $(this).val();
                if (selectedSessionId == 0 && selectedDeptId == 0 && selectedCompId == 0 && selectedStatusId == 3) {
                    $('#reportExport').hide();
                } else {
                    $('#reportExport').show();
                }
                filterStduent(selectedSessionId, selectedDeptId, selectedCompId, selectedStatusId);
            });
            $("#reportExport").on("click",function(){
                var selectedSessionId = $("#sessionDropdown").val();
                var selectedDeptId = $("#deptDropdown").val();
                var selectedCompId = $("#compDropdown").val();
                var selectedStatusId = $("#statusDropdown").val();
                var form = '<a href="/Export/ExportDataToFile?Export=StdAppReport&sid='+selectedSessionId+'&did='+selectedDeptId+'&cid='+selectedCompId+'&stid='+selectedStatusId+'&include'+'" > <button type="button" id = "frExport" class="read_more_btn" > '
                        +'Export</button></a>';
                $('#fexport').html(form);
                $('#frExport').click();
                $('#frExport').hide();
            });
        });


        function filterStduent(sessionId, deptId, compId, statusId) {
            $.ajax({
                url: '@Url.Action("FilterStudent", "Export")',
                type: 'POST',
                data: { sid: sessionId, did: deptId, cid: compId, stid: statusId},
                success: function (data) {
                    $('#studentTableContainer').html(data);
                    var table = $("#sreport").DataTable({
                        "scrollX": true,
                        responsive: true,
                        pageLength: 10,
                        lengthMenu: [5, 10, 20],
                        language: {
                            emptyTable: "Requested data not found!"
                        }
                    });
                }
            });
        }
    </script>
}
