

@{
    ViewData["Title"] = "StudentSession";
    Layout = "~/Views/Shared/_CoOrdLayout.cshtml";
}

@model List<Company>
@{
    Layout = "_CoOrdLayout";
}
<!--Total Companies page-->
<div class="main-content" style="margin-left:5%;width:112%;">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <a asp-controller="Session" asp-action="SessionView" style="float:right" class="btn btn-outline-primary  mb-2">Back</a>
                            <h4 class="card-title">Student List</h4>
                            <p class="card-title-desc">

                            </p>
                            <table class="table table-striped table-bordered dt-responsive" id="company-table" style="width:100%;">
                                @if (ViewBag.students == null || ViewBag.department == null || ViewBag.sessions == null)
                                {
                                    <p>There is no data to be displayed</p>
                                }
                                else
                                {
                                    <thead>
                                        <tr class="table-primary">
                                            <td>Name</td>
                                            <td>Department</td>
                                            <td>Batch</td>
                                            <td>Gender</td>
                                            <td>Enrollment</td>
                                            <td>Contact</td>
                                            <td>Address</td>
                                            <td>Action</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var item in ViewBag.students)
                                    {
                                        if (item.first_name != null)
                                        {
                                            <tr>
                                                <td>@item.surname @item.first_name @item.last_name</td>
                                                @foreach (var dep in ViewBag.department)
                                                {
                                                    if (dep.id == item.department_id)
                                                    {
                                                        <td>@dep.department</td>
                                                    }
                                                }
                                                @foreach (var ss in ViewBag.sessions)
                                                {
                                                    if (ss.id == item.session_id)
                                                    {
                                                        <td>@ss.label</td>
                                                    }
                                                }
                                                <td>@item.gender</td>
                                                <td>@item.enrollment</td>
                                                <td>@item.contact</td>
                                                <td>@item.address, @item.city, @item.state, @item.pincode</td>
                                                <td>
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                        Change Batch
                                                    </button>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Student Salary Details</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <form id="selectform" method="post" asp-controller="Session" asp-action="StudentDeafultSession" asp-route-id=@item.id>
                                                                    <div class="modal-body">
                                                                        <div class="input-group-prepend">
                                                                            <label class="input-group-text" for="sessionDropdown">session</label>
                                                                        </div>
                                                                        <select name="session" class="custom-select" id="sessionDropdown">
                                                                            @foreach (var ss in ViewBag.sessions)
                                                                            {
                                                                                if (ss.default_year == 1)
                                                                                {
                                                                                    <option value="@ss.id" selected>@ss.label</option>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <option value="@ss.id">@ss.label</option>
                                                                                }
                                                                            }
                                                                        </select>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                                                                        <button type="submit" id="submit" class="btn btn-outline-primary">Submit</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    </tbody>
                                }
                            </table>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->

        </div>
    </div>
</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            var table = $("#company-table").DataTable({
                "scrollX": true,
                pageLength: 5,
                lengthMenu: [5, 10, 20]
            });
            $('#exampleModal').on('shown.bs.modal', function () {
                $('#myInput').trigger('focus')
            });
            $("#selectform").validate({
                rules: {
                    session: "required"
                },
                messages: {
                    sti: "Please select session!"
                },
                submitHandler: function (form) {
                    form.submit();
                }
            })
        });
    </script>
}



