@model Student;
@{
	Layout = "_StudentLayout";
}
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

			<div class="id-card-tag"></div>
			<div class="id-card-tag-strip"></div>
			<div class="id-card-hook"></div>
			<div class="id-card-holder">
				<div class="id-card">
						<div class="header">
							<img src="~/assets/images/logos/SCETwide.png" />
						</div>
				<div style="display:flex">
					<div class="container">
						<div class="photo">
							<img src="~/assets/images/users/maleUser.png" />
						</div>
						<h2>Name : @Model.surname @Model.first_name @Model.last_name</h2>
						<h3>Enrollment No. : @Model.enrollment</h3>
						<p><strong>DOB:</strong> @Model.dob<p>
						<p><strong>Ph:</strong> @Model.contact, @Model.alt_contact<br/></p>
						<p><strong>Gender:</strong> @Model.gender<br/></p>



						<hr>
					</div>

					<div>
				</div style="display:flex;flex-direction:column">
					<div style="margin-right:40px">
						<p><strong>Permanent Address:</strong> @Model.permanent_address, @Model.permanent_city-@Model.permanent_pincode, @Model.permanent_state</></p>
						<p><strong>Grandfather:</strong> @Model.grand_father_name<br/></p>
						<p><strong>Parent's Ph:</strong> @Model.parent_contact<br/></p>
						<p><strong>Address:</strong> @Model.address, @Model.city-@Model.pincode, @Model.state<br/></p>
						<p><strong>AADHAR:</strong> @Model.adhaar<br/></p>
						<p><strong>PAN:</strong> @Model.pan<br/></p>
						<p><strong>Driving Lisc.:</strong> @Model.driving<br/></p>

					</div>
					</div>
				</div>

			</div>

        </div>
	</div>
	<div id="editBtnDiv">
		<a asp-controller="Student" asp-action="AlterStudent">
			<button type="button" class="btn btn-warning waves-effect waves-light w-lg">
				<i class="uil uil-exclamation-triangle me-2"></i> Edit Profile
			</button>
		</a>
	</div>
</div>