@model Student;
@{
	Layout = "_StudentLayout";
}
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

			<div class="id-card-tag"></div>
			<div class="id-card-tag-strip"></div>
			<div class="id-card-hook"></div>
			<div class="id-card-holder">
				<div class="id-card">
					<div class="header">
						<img src="~/assets/images/logos/SCETwide.png" />
					</div>
					<div class="photo">
						<img src="~/assets/images/users/maleUser.png" />
					</div>
					<h2>UserName : @Model.surname @Model.first_name</h2>
					<h3>Enrollment No. : @Model.enrollment</h3>
					<hr>
					<p><strong>DOB:</strong> @Model.dob<p>
					<p><strong>Address:</strong> @Model.address<strong> @Model.pincode</strong></p>
					<p>Ph: @Model.contact<br/></p>

				</div>
			</div>
        </div>
	</div>
	<div id="editBtnDiv">
		<a asp-controller="Student" asp-action="">
			<button type="button" class="btn btn-warning waves-effect waves-light w-lg">
				<i class="uil uil-exclamation-triangle me-2"></i> Edit Profile
			</button>
		</a>
	</div>
</div>