@model Student
@{
    Layout = "_StudentLayout";
}
<div class="main-content" style="width:100%;margin-left:10%;">

    <div class="page-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-body">
                                <div>
                                    <h5 class="font-size-16 mb-4">10<sup>th</sup> Marksheet Details</h5>

                                    <div class="table-responsive">
                                        <table class="table table-nowrap table-hover mb-0">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Field</th>
                                                    <th scope="col">Value</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">01</th>
                                                    <td>School Name:</td>
                                                    <td>
                                                       @Model.ten_school
                                                    </td>
                                                   
                                                   
                                                </tr>
                                                <tr>
                                                    <th scope="row">02</th>
                                                    <td>Year of passing:</td>
                                                    <td>
                                                        @Model.ten_passyear
                                                    </td>
                                                   
                                                </tr>
                                                <tr>
                                                    <th scope="row">03</th>
                                                    <td><a href="#" class="text-dark">School Address</a></td>
                                                    <td>
                                                       @Model.ten_schooladdress, @Model.ten_schoolcity- @Model.ten_schoolpincode
                                                    </td>
                                                   
                                                    
                                                </tr>
                                                <tr>
                                                    <th scope="row">04</th>
                                                    <td><a href="#" class="text-dark">Board name:</a></td>
                                                    <td>
                                                        @Model.ten_board
                                                    </td>
                                                   
                                                   
                                                </tr>
                                                <tr>
                                                    <th scope="row">05</th>
                                                    <td><a href="#" class="text-dark">Marks scored:</a></td>
                                                    <td>
                                                        @Model.ten_score out of @Model.ten_scoreoutof
                                                    </td>
                                                   
                                                </tr>
                                                <tr>
                                                    <th scope="row">06</th>
                                                    <td>Tenth Gap number</td>
                                                    <td>
                                                       @Model.ten_gapno
                                                    </td>


                                                </tr>
                                                 <tr>
                                                    <th scope="row">07</th>
                                                    <td>Tenth Gap year(s)</td>
                                                    <td>
                                                       @Model.ten_gapyears
                                                    </td>
                                                   
                                                   
                                                </tr>
                                                <tr>
                                                    <th scope="row">08</th>
                                                    <td>Admission Quota</td>
                                                    <td>
                                                        @Model.ten_admissionquota
                                                    </td>


                                                </tr>
                                              
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div><!-- end card -->
                            <div style="display:flex;justify-content:center">
                            <a asp-controller="Student" asp-action="Edit10Details" class="btn btn-primary waves-effect waves-light">Edit Your Results</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

