@model ViewHiring
@inject IHttpContextAccessor context;
@{
    Layout = "_StudentLayout";
}


<div class="main-content" style="width:100%;margin-left:10%;">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title">Companies you have applied for :</h4>
                            <p class="card-title-desc">
                                Check the status of your application 
                            </p>

                            <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Company Name</th>
                                        <th>Application date</th>
                                        <th>Application Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>


                                <tbody>
                                    @foreach (var student_application in Model.applications)
                                    {
                                        if (student_application.student_id == @context.HttpContext.Session.GetInt32("studentid"))
                                        {
                                            @foreach (var hiring in Model.Hirings)
                                            {
                                                if (student_application.hiring_id == hiring.id)
                                                {
                                                    
                                                    @foreach (var company in Model.Companies)
                                                    {
                                                        if (hiring.company_id == company.id)   
                                                        {
                                                            <tr>
                                                                <td>@company.name</td>
                                                                <td>@student_application.created_at</td>
                                                                <td>
                                                                    @if(student_application.status==0)
                                                                    {
                                                                        <p type="button" class="btn btn-primary btn-sm waves-effect waves-light">Applied</p>
                                                                    }
                                                                    else if(student_application.status==1)
                                                                    {
                                                                        <p type="button" class="btn btn-success btn-sm waves-effect waves-light">Selected</p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p type="button" class="btn btn-danger btn-sm waves-effect waves-light">Rejected</p>
                                                                    }
                                                                    
                                                                </td>
                                                                <td>
                                                                    <a asp-controller="Company" asp-action="CompanyDetails" class="btn btn-outline-info" asp-route-cid="@company.id" asp-route-hid="@hiring.id">
                                                                        Info
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            }

                                        }
                                        
                                        
                                    }
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>
        </div>
    </div>
</div>

